@charset "utf-8";

.gallery-list .icon {width: 14px; height: 14px; vertical-align: middle;}
.gallery-list .icon-notice {width: 15px; height: 15px; vertical-align: middle;}
.gallery-list .board-subject {display: inline-block;max-width: 100%;}

.file-list .icon {width: 14px; height: 14px; vertical-align: middle;}
.link-list .icon {width: 14px; height: 14px; vertical-align: middle;}

.comment-list {position: relative;}
.comment-list .reply-icon {position:absolute;left:0; top: 10px; width:16px; height:16px;}
.comment-button .icon {width: 15px; height: 15px;}
